doctype html
html
  head
    title= 'HTML5 basic skeleton'
    meta(charset='utf-8')
    link(rel='stylesheet', href='/assets/css/main.css')
    script(src='assets/libs/jquery-1.12.2.min.js')
    script(src='assets/js/script.js')

  body
    div(id="message")
