#message{
  display: block;
  width: 50%;
  margin: 5px auto;
}


.template1{
  padding: 10px;
  background: #dddddd;
  border: 1px solid black;
  border-radius: 5px;
}

.template1 span{
  display: block;
  margin-bottom: 5px;
}


.template1 span::first-letter{
  font-size: 125%;
  font-weight: 700;

}

.template2{
  padding: 10px;
  background: green;
  border: 1px dashed black;
  overflow: auto;
}


.template2 .textField span{
  margin-bottom: 5px;
  display: block;
}

.template2 .imageField{
  float: right;
}

.template2 .imageField img{
  margin-bottom: 10px;
  max-width: 300px;
  display: block;
}

.template3{
  padding: 10px;
  background: darkblue;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.template3 span{
  display: block;
  margin-bottom: 5px;
}


.template3 span::first-letter{
  font-size: 125%;
  font-weight: 700;

}
